{% extends "blog/base.html "%}

{% block content %}

<h1> Best breakfasts for muscle gain </h1>

<hr>

<h3>Grain-Free Banana Protein Pancakes</h3>

<p>Making sure you get a protein-packed breakfast doesn’t mean you have to say no to a cheeky Sunday morning serving of pancakes with this recipe for grain-free banana pancakes. With just six ingredients and no grains, they’re healthy without compromising on taste!</p>

<p> <b>Carbohydrate:</b> Moderate</p>
<p> <b>Protein:</b> High </p>
<p> <b> Fat: </b> Moderate </p>
<p> <b> Contains:</b> Calcium, vitamin D</p>

<h3>Avocado Toast with Cottage Cheese</h3>

<p>This quick and easy toast is great for breakfast or a snack, perfect for those busy weekday mornings. The cottage cheese is packed with protein and compliments the avocado with delightful sweetness, all on a bed of whatever bread you fancy. Balanced, easy and delicious- you’ll find yourself making this toast most mornings!</p>

<p> <b>Carbohydrate:</b> High</p>
<p> <b>Protein:</b> Moderate </p>
<p> <b> Fat: </b> Moderate </p>
<p> <b> Contains:</b> Calcium, Potassium</p>

<h3>Smoked Salmon Bagel</h3>

<p>Salmon is a breakfast favourite, and there’s no point in just saving it for special occasions. This breakfast takes just minutes to assemble and is fresh, healthy and full of protein. Salmon is loaded with nutrients like protein and omega-3 fats, and easy to store in the freezer. Add a little bit of cream cheese for some extra flavour if you’re feeling a bit cheeky.</p>

<p> <b>Carbohydrate:</b> High</p>
<p> <b>Protein:</b> Moderate </p>
<p> <b> Fat: </b> Moderate </p>
<p> <b> Contains:</b> Cobalamin, Vitamin b-6</p>


<h3>Overnight Oats with Fruit</h3>

<p>You’ll be thanking your past self for putting these overnight oats in the fridge before you went to bed, one of our favourite grab-and-go high protein breakfasts. Perfect for the winter months, add almond milk, oats and protein powder, some berries and whatever else you desire into a jar and place it in the fridge- so simple! The next morning it with have combined into a thick, gooey pot of deliciousness.</p>

<p> <b>Carbohydrate:</b> High</p>
<p> <b>Protein:</b> Moderate </p>
<p> <b> Fat: </b> Moderate </p>
<p> <b> Contains:</b> Magnesium, phosphorus</p>


<h3>Breakfast BLT Salad</h3>

<p>Salad for breakfast is an unconventional but protein-rich breakfast idea that we are currently loving. Pack your bowl with all the good stuff like kale, bacon, avocado, tomato and most importantly- eggs. It’s all your breakfast favourites without the bread, in a bowl! It may take a while getting used to, but once you’ve tried this salad for breakfast there’s no going back.</p>

<p> <b>Carbohydrate:</b> Low</p>
<p> <b>Protein:</b> High </p>
<p> <b> Fat: </b> Moderate </p>
<p> <b> Contains:</b> Vitamin A, Vitamin D</p>


<h3>Chickpea Scramble Breakfast Bowl</h3>

<p>Salad for breakfast is an unconventional but protein-rich breakfast idea that we are currently loving. Pack your bowl with all the good stuff like kale, bacon, avocado, tomato and most importantly- eggs. It’s all your breakfast favourites without the bread, in a bowl! It may take a while getting used to, but once you’ve tried this salad for breakfast there’s no going back.</p>

<p> <b>Carbohydrate:</b> Low</p>
<p> <b>Protein:</b> High </p>
<p> <b> Fat: </b> Low </p>
<p> <b> Contains:</b> Potassium, Iron, Magnesium</p>

<br>
<small> By Aimee O'Keefe, taken from https://manofmany.com/ </small>
{% endblock content%}