{% extends "blog/base.html "%}

{% block content %}

<h1> Best dinners for muscle gain </h1>

<hr>

<h3>Spicy Chicken With Couscous </h3>

<p>This super-tasty macro-balanced meal is perfect for nailing that meal prep. Bursting with flavour, it’s a simple way to liven up your routine from plain old chicken and rice.</p>

<ul>
<li>1 tbsp curry paste </li>
<li>1 tbsp mango chutney </li>
<li>1/2 tsp turmeric</li>
<li>1 serving salt (to taste)</li>
<li>50 ml olive oil</li>
<li>4 chicken breasts</li>
<li>300 g couscous</li>
<li>350 ml vegetable stock</li>
</ul>


<h3>Speedy Harissa Chicken & Tabbouleh</h3>

<p>Liven up your chicken meal prep with this quick harissa chicken and tabbouleh – packed with protein and healthy carbohydrates.</p>

<ul>
<li>50 g harissa paste</li>
<li>1 tsp extra virgin olive oil</li>
<li>1 pinch sea salt</li>
<li>3 x chicken breast (try skin-on for extra flavour)</li>
<li>180 g bulgur wheat or couscous (dry weight)</li>
<li>40 g parsley (stems and leaves)</li>
<li>20 g mint leaves</li>
<li>6-8 x spring onions</li>
<li>1/2 a cucumber</li>
<li>4 x tomatoes</li>
<li>6 tbsp Greek yoghurt</li>
<li>1/2 a lemon (juice and zest)</li>
<li>1 clove of garlic (minced)</li>
<li>1 pinch of sea salt</li>
<li>1 handful of pomegranate seeds (optional)</li>
</ul>

<h3>Low-carb Loaf Tin Lasagne</h3>

<p>Craving lasagne, but don’t want to make a whole tray of the stuff? Try loaf tin lasagne. You’ll get 3 easy portions for 3 days’ worth of low-carb, high-protein meal prep.</p>

<ul>
<li>1 tsp. Coconut Oil</li>
<li>1 white onion, coarsely chopped (or 1 tbsp. onion powder)</li>
<li>2 cloves garlic, finely chopped (or 1 tsp. garlic powder)</li>
<li>1 tbsp. dried oregano</li>
<li>350g turkey mince</li>
<li>600g chopped tomatoes or tomato passata</li>
<li>300g lasagne sheets</li>
<li>1 courgette</li>
<li>1 tsp. sea salt and black pepper</li>
<li>400g cottage cheese</li>
<li>3 egg whites</li>
<li>100g low-fat cheese (grated)</li>
</ul>





<small> By Jennifer Blow, taken from https://www.myprotein.com/ </small>


{% endblock content%}