{% extends "blog/base.html "%}

{% block content %}

<h1> Best lunches for muscle gain </h1>

<hr>

<h3>Balsamic Grilled Chicken Sandwich </h3>

<p>Sunday night you should be prepping your first meal of the week: balsamic grilled chicken sandwich. Marinate the chicken in balsamic vinaigrette and then throw it on to a frying pan for about 15 minutes. Once it has cooked through, place the chicken on a slice of whole-wheat bread. Cover the chicken with roasted red peppers, reduced-fat mozzarella cheese, and basil leaves. And if you want to press it into a panini, just throw it back onto the pan for 5 minutes.</p>

<ul>
<li>2 slices whole-wheat bread </li>
<li>4 oz grilled chicken breast </li>
<li>½ cup roasted red peppers</li>
<li>3 Basil leaves</li>
<li>¼ cup balsamic vinaigrette</li>
<li>¼ cup reduced fat mozzarella cheese</li>
</ul>


<h3>Tuna Salad Wrap</h3>

<p>The first prep night was a success, only taking 45 minutes tops. And tonight should go even faster because you’re stove-free. Easily combine everything into a bowl and then wrap it all up. But you’re a bit thrown off by the Greek yogurt—shouldn’t there be mayo? Substituting Greek yogurt for mayonnaise is an old trick that will save you 10 grams fat while adding more protein.</p>

<ul>
<li>6 oz canned solid white albacore tuna </li>
<li>¼ cup non-fat Greek yogurt </li>
<li>½ cup chopped celery</li>
<li>¼ cup chopped onion</li>
<li>½ tsp Dijon mustard</li>
<li>¼ tsp ground pepper</li>
<li>1 large lettuce leaf</li>
<li>10 inch whole-wheat wrap</li>
</ul>

<h3>Egg Salad BLT</h3>

<p>Egg salad can be fat-friendly by using five egg whites and two egg yolks. Boil the eggs and then separate the white from the yolk. Pair the egg salad with Ezekiel bread. The bread is a complete protein, contains 18 amino acids, and is loaded with vitamins and minerals. Fun fact: the amount of protein in Ezekiel bread is comparable to the amount of protein found in one egg or one glass of milk.</p>

<ul>
<li>5 egg whites </li>
<li>2 egg yolks </li>
<li>1/4 cup non-fat Greek yogurt</li>
<li>½ tsp Dijon mustard</li>
<li>¼ c chopped celery</li>
<li>Pinch salt and pepper</li>
<li>2 slice turkey bacon</li>
<li>2 slices Ezekiel bread</li>
<li>1 lettuce leaf</li>
<li>2 slices tomato</li>
</ul>


<h3>Turkey club</h3>

<p>A classic amongst sandwiches, the turkey club is simple and easy to make. And another substitute for mayo is hummus, which also contains more protein. To really double your protein intake with this meal, use P28 High Protein Bread. Two slices of it contains 28 grams of protein, and the bread is made with whey protein isolate.</p>

<ul>
<li>4 oz sliced turkey breast </li>
<li>¼ cup shredded reduced-fat cheddar Jack cheese </li>
<li>2 slices tomato</li>
<li>2 lettuce leaves</li>
<li>3 tbsp hummus</li>
<li>P28 High Protein Bread</li>

</ul>


<h3>Roasted Veggie Quinoa Salad With Grilled Salmon</h3>

<p>By Friday you may be a bit sandwiched out, so change it up with roasted veggie quinoa salad with grilled salmon. The night before, roast a variety of vegetables in the oven for about 15 minutes while the quinoa and salmon cook on the stovetop. Quinoa is a complete protein, that’s rich in leucine—an amino acid that initiates muscle protein synthesis.</p>

<ul>
<li>½ cup cooked quinoa </li>
<li>½ cup roasted vegetables </li>
<li>6 oz grilled salmon</li>

</ul>


<small> By Courtney Anaya, taken from https://www.muscleandfitness.com/ </small>
{% endblock content%}